<div class="welcome">

  <img src="https://blog.flamingtext.com/blog/2018/10/24/flamingtext_com_1540416945_460954014.png" alt="logo" class="left">

<h1> </h1>

<ul class="home">
  <li><a href="/students/new">New Student</li>
  <li><a href="/students">Roll Call</li>
</ul>


</div>
